includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src/

    excludePaths:
        - '%rootDir%/../../../src/Generated/*'
        - '%rootDir%/../../../src/Orm/*'

    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\AbstractTransfer::getTenantIdentifier\(\)\.#'
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\AbstractTransfer::getMessageAttributesOrFail\(\)\.#'
        - '#PHPDoc tag @var with type array<DOMElement> is not subtype of native type Symfony\\Component\\DomCrawler\\Crawler.#'

    reportUnmatchedIgnoredErrors: false

    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET

    parallel:
        maximumNumberOfProcesses: 1
